# Telegram
Pyrogram==2.0.57 # dont upgrade pls, has problem with auth
aiogram==2.25.1

# Database
SQLAlchemy==2.0.4

# Debug
loguru==0.6.0

# Other
asyncio==3.4.3
tgcrypto==1.2.5

#Payment
yookassa==2.3.5